@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 0;
}

a{
    text-decoration: none;
    color: #dadada;
    font-size: 18px;
    margin: 10px;
}
a:hover {
    color: #F9FAF8;
}

.block{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero{
    background-image: url(./img/munnar-g8ceaaa26c_1280.jpg);
    background-position: center;
    background-size: cover;
}
.header{
    background-color: #1f2937b9;
}

.footer {
    background-color: #1F2937;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero1 {
    font-size: 58px;
    color: #F9FAF8;
    font-weight: 700;
}

P {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 400;
}

button {
    background-color: #3882F6;
    color: #FFFFFF;
    font-size: 18px;
    padding: 8px 15px;
    width: 100px;
    border: 0px;
    flex-grow: 0;
    border-radius: 10px;
}

.ihead{
    font-size: 36px;
    font-weight: 700;
    padding: 20px;
    color: #1F2937;
    ;
}

.card, .rinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rinfo {
    height: 500px;
}

img {
    width: 200px;
    height: 230px;
    margin: 25px;
    margin-bottom: 5px;
    border: 2px solid;
    border-color: #757b85;
    border-radius: 5px;
}

.icard text{
    font-size: 26px;
    color: #dadada;
}
.quote {
    background-color: #E5E7EB;
}

.quote-text {
    color: #1F2937;
    font-size: 28px;
    font-style: italic;
    text-align: center;
    margin: 10px;
}
.act {
    height: 300px;
}
.footer {
    height: 72px;
}
.footer text {
    color: #dadada;
}

.actbox{
    background-color: #3882F6;
    height: 120px;
    width: 900px;
    border-radius: 10px;
    box-shadow: 2px;
    gap: 40px;
}
.actbox text {
    color: #F9FAF8;
}
.actbox text:first-child{
    font-weight: bold;
}
.acttext {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.actbox button{
    border: 2px solid;
    border-color: #F9FAF8;
}
button:hover{
    background-color: #F9FAF8;
    color: #3882F6;
    font-weight: 500;
}
button:active {
    background-color: #dadada;
}